*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
:root{
    --head-color:#232536;
    --dark-blue:#282938;
    --information-post-color:#4C4C4C;
    --big-card-color:#F4F0F8;
    --color-post-card:#FFFFFF;
    --card-authors:#F4F4F4;
    --color-background-card:#FBF6EA;
    --medium-color:#6D6E76;
    --color-purpel:#592EA9;
    --color-yellow:#FFD050;
    --logotype-color:#FFFFFF;
    --text-started:#232536;
    --background-hero: radial-gradient(80.99% 71.93% at 74.58% 0.00%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%);
    --color-decoration-elements:#FFD050;
    --black-color-list-topics:#161722;
    --color-black: #000;
    --main-colors:#A9A9A9;
}
body{
    font-family: 'Inter', sans-serif;
font-family: 'Sen', sans-serif;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style: none;
}
.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}
/* stuling header */
.header{
    padding: 20px 0px;
    background-color: var(--head-color);
}
.header-item{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 600px;
}
.navigation{
    margin-right: 35px;
}
.navigation-list-item{
    display: flex;
    align-items: center;
}
.navigation-item:not(:last-child){
    margin-right: 28px;
}
.item{
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
color: var(--color-post-card);
}
.button-item{
    width: 179px;
    height: 56px;
    cursor: pointer;
    background-color: var(--color-post-card);
}
.button-item>span{
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: var(--head-color);
}
.section-hero{
    /* background-color: radial-gradient(80.99% 71.93% at 74.58% 0.00%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%); */
    background-color: #000;
    padding: 128px 0px 192px;
    background-image: url(./Finsweet-img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

}
.text-hero{
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; /* 125% */
letter-spacing: 3px;
text-transform: uppercase;
margin-bottom: 24px;
color: var(--color-post-card);
}
.text-hero span{
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 900;
line-height: 20px;
letter-spacing: 3px;
text-transform: uppercase;
color: var(--color-post-card);
}
.head-hero{
    width: 803px;
font-family: Sen;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 64px; /* 114.286% */
letter-spacing: -2px;
margin-bottom: 24px;
color: var(--color-post-card);
}
.data-hero{
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin-bottom: 16px;
color: var(--color-post-card);
}
.data-hero a{
    color: var(--color-yellow);
}
.text-title{
    width: 599px;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin-bottom: 48px;
color: var(--color-post-card);
}
.button-hero{
    padding: 16px 48px;
    cursor: pointer;
    background-color: var(--color-yellow);
}
.button-hero span{
font-family: Sen;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px;
color: var(--head-color);
}
.section-information{
    padding: 128px 0px;
}
.name-post{
font-family: Sen;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 133.333% */
letter-spacing: -2px;
margin-bottom: 30px;
color: var(--head-color);
}
.card-post{
    height: 724px;
padding: 32px 32px;
    border: 1px solid 	#c0c0c0;
    margin-right: 32px;
}
.post-information{
    display: flex;
    padding-bottom: 128px;
}
.img-post{
    margin-bottom: 32px;
}
.data-post{
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px;
margin-bottom: 16px;
color: var(--information-post-color); 
}
.data-post span{
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px;
color: var(--color-purpel);
}
.name-card-post{
    width: 669px;
font-family: Sen;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 40px; 
letter-spacing: -1px;
margin-bottom: 16px;
color: var(--head-color);
}
.text-post{
    width: 551px;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin-bottom: 32px;
color: var(--medium-color);
}
.post-list-information{
position: relative;
bottom: 60px;
}
.head-post{
    position: relative;
    bottom: 14px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.all-post+a{
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
padding-top: 10px;
color: var(--color-purpel);
}
.post-list-item{
    padding: 32px 0px 25px 32px;
    background: var(--color-post-card);
}
.post-list-item:hover{
    background: var(--color-background-card);

}
.item-post{
    margin-bottom: 8px;
}
.name-post-list{
    width: 369px;
font-family: Sen;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;
color: var(--head-color);
}
/* styling card mission */
.card-inform-list::before{
    content: "";
    display: block;
    width: 843px;
height: 23px;
margin-left: 180px;
background-color: var(--color-decoration-elements);
}
.card-information-decoration::before{
    content: "";
    display: block;
    position: relative;
    top: 23px;
    left: 987px;
    width: 282px;
height: 23px;
background-color: var(--color-purpel);
}
.card-information{
    display: flex;
    padding: 96px 0px 96px 80px;
    background-color: var(--big-card-color);
}
.information-item:first-child{
    margin-right: 82px;
}
.above-name{
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 125% */
letter-spacing: 3px;
text-transform: uppercase;
margin-bottom: 25px;
color: var(--head-color);
}
.name-inf{
    width: 495px;
font-family: Sen;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 133.333% */
letter-spacing: -2px;
margin-bottom: 20px;
color: var(--head-color);
}
.name-inf-mission{
width: 480px;
font-family: Sen;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 40px; 
letter-spacing: -1px;
margin-bottom: 20px;
color: var(--head-color);
}
.text-inf{
    width: 500px;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
margin-bottom: 16px;
color: var(--medium-color);
}
.read-inf{
font-family: Sen;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 32px;
color: var(--color-purpel);
}
.section-information-cards{
    padding-bottom: 128px;
}
.name-choose{
font-family: Sen;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 48px;
letter-spacing: -2px;
text-align: center;
margin-bottom: 48px;
color: var(--head-color);
}
.list-card{
    display: flex;
    margin-bottom: 128px;
}
.card-list-item{
    padding: 32px;
    border: 1px solid var(--main-colors);
}
.card-list-item:hover{
    background-color: var(--color-yellow);
    border-color: var(--color-post-card);
}
.card-list-item:not(:last-child){
    margin-right: 32px;
}
.name-catagory::before{
    content: "";
    display: block;
    width: 48px;
height: 48px;
margin-bottom: 20px;
border-radius: 10px;
background: var(--color-background-card);
background-position: center;
background-repeat: no-repeat;
}
.bussiness::before{
    background-image: url(./Finsweet-img/Icon.svg);
}
.shuttle::before{
    background-image: url(./Finsweet-img/shuttle.svg);
}
.economy::before{
    background-image: url(./Finsweet-img/economy.svg);
}
.cyborg::before{
    background-image: url(./Finsweet-img/cyborg.svg);
}
.name-catagory{
font-family: Sen;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: -1px;
margin-bottom: 5px;
color: var(--head-color);
}
.text-catagory{
    width: 232px;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
color: var(--medium-color);
}
.contenr-information-started{
    display: flex;
}
.card-started{
    position: relative;
    top: 121px;
    right: 339px;
    padding: 80px;
    background-color: var(--color-post-card);
}
.name-started{
    width: 546px;
font-family: Sen;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 64px; 
letter-spacing: -2px;
margin-bottom: 16px;
color: var(--head-color);
}
.text-started{
    width: 546px;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin-bottom: 32px;
color: var(--medium-color);
}
.button-discover{
    padding: 16px 48px;
    cursor: pointer;
    background-color: var(--color-yellow);
}
.button-discover span{
font-family: Sen;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px;
color: var(--head-color);
}
.large-section{
    padding-bottom: 128px;
}
.authors-list-item{
    display: flex;
    margin-bottom: 108px;
}
.authors-list{
    width: 296px;
    padding: 40px 43px;
    background-color: var(--card-authors);
}
.authors-list:hover{
    background-color: var(--color-background-card);
}
.authors-list:not(:last-child){
    margin-right: 32px;
}
.authors-img{
    width: 128px;
margin-left: 35px;
text-align: center;
border-radius: 128px;
}
.name-authors{
font-family: Sen;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 40px; 
letter-spacing: -1px;
text-align: center;
margin-bottom: 5px;
color: var(--head-color);
}
.text-authors{
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
text-align: center;
margin-bottom: 20px;
color: var(--medium-color);
}
.list-social-network{
    display: flex;
    justify-content: center;
}
.list-item-network:not(:last-child){
margin-right: 16px;
}
.item-network{
    width: 16px;
height: 16px;
}
.list-logotype{
    display: flex;
    align-items: center;
    margin-bottom: 104px;
}
.list-logotype li:first-child{
    margin-right: 90px;
}
.list-logotype li:not(:last-child){
    margin-right: 80px;
}
.text-logo{
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
margin-bottom: 3px;
color: var(--medium-color);
}
/* styling big card blog */
.card-blog{
    display: flex;
    padding: 80px 100px;
    margin-bottom: 128px;
    background: var(--color-background-card);
}
.inf-blogs{
    height: 310px;
    border-right: 1px solid  var(--main-colors);
}
.testimon-text{
    padding-top: 15px;
    margin-bottom: 12px;
}
.name-blog{
    width: 345px;
font-family: Sen;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 48px; 
letter-spacing: -2px;
margin-right: 85px;
margin-bottom: 20px;
color: var(--head-color);
}
.text-blog{
    width: 349px;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
color: var(--medium-color);
}

.blog-card{
    margin-left: 96px;
}
.information-blog{
    width: 469px;
font-family: Sen;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; 
margin-bottom: 121px;
color: var(--head-color);
}
.portfol-blog{
    display: flex;
    gap: 16px;
}
.photo-owner{
    width: 48px;
height: 48px;
border-radius: 48px;
}
.owner-blog{
font-family: Sen;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;
margin-bottom: 3px;
color: var(--head-color);
}
.tower-owner{
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
color: var(--medium-color);
}
.left-button{
    width: 48px;
height: 48px;
border-radius: 50px;
margin-left: 121px;
background-color: var(--logotype-color);
}
.button-blog{
    width: 62px;
height: 62px;
border-radius: 50px;
cursor: pointer;
background-color: var(--head-color);
}
.button-blog span{
    color: var(--color-post-card);
}
.join-team{
    text-align: center;
}
.name-join{
    width: 414px;
font-family: Sen;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 48px; 
letter-spacing: -2px;
margin: 0 auto;
margin-bottom: 16px;
color: var(--head-color);
}
.text-join{
    width: 405px;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin: 0 auto;
margin-bottom: 32px;
color: var(--medium-color);
}
.button-join{
    padding: 16px 48px;
    cursor: pointer;
    align-items: center;
    background-color: var(--color-decoration-elements);
}
.button-join span{
    font-family: Sen;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px;
color: var(--head-color);
}
/* styling footer */
.footer{
    padding: 56px 0px;
    background-color: var(--head-color);
}
.links-footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}
.list-links{
    display: flex;
}
.list-links-item:not(:last-child){
    margin-right: 24px;
}
.links-item{
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
color: var(--logotype-color);
}
/* styling form */
.name-form{
    width: 562px;
font-family: Sen;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 133.333% */
letter-spacing: -2px;
margin-right: 64px;
color: var(--color-post-card);
}
.form-footer{
    display: flex;
    align-items: center;
    padding: 80px 64px;
    margin-bottom: 48px;
    background-color: var(--medium-color);
}
.input-footer{
    width: 323px;
height: 56px;
outline: none;
margin-right: 24px;
border: 1 px solid var(--information-post-color);
}
[placeholder="Enter Your Email"]{
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
padding-left: 25px;
color: var(--medium-color);
}
.button-form{
    width: 179px;
    height: 56px;
    cursor: pointer;
    background-color: var(--color-yellow);
}
.button-form span{
font-family: Sen;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px; 
color: var(--head-color);
}
.contact-information{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.inf-contact{
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
opacity: 0.7;
color: var(--logotype-color);
}
.footer-list-item-network:not(:last-child){
    margin-right: 27px;
}
.footer-network{
    fill: var(--medium-color);
}

/* -------------------------------------------finished styling the front page------------------------------------------------------- */
/* -------------------------------------------start styling two page---------------------------------------------------------- */
.section-post-feat{
    padding: 94px 0px;
    background-color: var(--big-card-color);
}
.information-post-feat{
    display: flex;
}
.post-featured{
    margin-right: 145px;
}
.blog-text-post{
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; 
letter-spacing: 3px;
text-transform: uppercase;
margin-bottom: 20px;
color: var(--head-color);
}
.head-guede{
width: 624px;
font-family: Sen;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 48px; 
letter-spacing: -2px;
margin-bottom: 16px;
color: var(--head-color);
}
.text-featured-post{
    width: 624px;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
margin-bottom: 32px;
color: var(--medium-color);
}
.button-read{
    padding: 16px 48px;
    cursor: pointer;
    background-color: var(--color-yellow);
}
.button-read span{
font-family: Sen;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 24px;
color: var(--black, #232536);
}
/* styling section all-posts */
.section-list-post{
    padding: 65px 0px;
}
.tittle-post{
font-family: Sen;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 64px; 
letter-spacing: -2px;
color: var(--head-color);
}
.tittle-post::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-top: 32px;
    margin-bottom: 64px;
    opacity: 0.32;
    background: #6D6E76;
}
.list-item-post{
    display: flex;
}
.list-item-post:not(:last-child){
    margin-bottom: 64px;
}
.content-post{
    padding-top: 60px;
    margin-left: 35px;
}
.field-name{
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 20px;
letter-spacing: 3px;
text-transform: uppercase;
/* margin-bottom: 20px; */
color: var(--color-purpel);
}
.post-tittle{
width: 603px;
font-family: Sen;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 133.333% */
letter-spacing: -2px;
margin-top: 20px;
margin-bottom: 16px;
color: var(--head-color);
}
.post-tittle+p{
    width: 624px;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
color: var(--medium-color);
}
.section-categories{
    padding: 68px 0px 128px;
}
.name-categories{
font-family: Sen;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 133.333% */
letter-spacing: -2px;
margin-bottom: 48px;
color: var(--head-color);
}
/* ---------------------------------------------finish styling page blog------------------------------------------ */
/* -----------------------start styling page blog-post---------------------------------------------------------- */
.section-information-fonts{
    padding: 128px 0px;
}
.name-info{
    display: flex;
    gap: 16px;
    align-items: center;
padding-left: 250px;
margin-bottom: 24px;
}
.name{
font-family: Sen;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 142.857% */
letter-spacing: -1px;
color: var(--color-purpel);
}
.text-data{
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
color: var(--medium-color);
}
.tittle-guide{
    width: 768px;
font-family: Sen;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 64px; /* 133.333% */
letter-spacing: -2px;
margin: 0 auto;
margin-bottom: 35px;
color: var(--head-color);
}
.startup-shuttle{
    display: flex;
    padding-left: 250px;
    margin-bottom: 64px;
}
.startup{
font-family: Sen;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; 
margin-left: 8px;
color: var(--head-color);
}
/* styling indormation or fonts */
.imformation-fonts{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 64px;
}
.list-information-fonts:not(:last-child){
    margin-bottom: 48px;
}
.tittle-fonts{
    width: 835px;
font-family: Sen;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 133.333% */
letter-spacing: -2px;
margin-bottom: 16px;
color: var(--head-color);
}
/* мають бути ще крапочки */
.list-topics{
font-family: Sen;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; 
opacity: 0.78;
color: var(--black-color-list-topics);
}
.topics-first{
    margin-top: 24px;
}
.text-fonts{
    width: 843px;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
color: var(--medium-color);
}
.topics-last{
    margin-bottom: 24px;
}
.section-read{
   padding-bottom: 128px;
}
.tittle-read{
font-family: Sen;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 48px; /* 133.333% */
letter-spacing: -2px;
margin-bottom: 64px;
color: var(--color-black);
}
.read-next::after{
    content: "";
    display: block;

    width: 100%;
    height: 1px;
    margin-top: 64px;
    margin-bottom: 128px;
    opacity: 0.3;
    background-color: var(--medium-color);
}
.list-reading{
    display: flex;

}
.list-item-read:not(:last-child){
    margin-right: 32px;
}
.photo-card{
    margin-bottom: 32px;
}
.name-card{
    width: 405px;
font-family: Sen;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 142.857% */
letter-spacing: -1px;
margin-bottom: 16px;
color: var(--text-started);
}
.name-card+p{
    width: 405px;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; 
opacity: 0.7;
color: var(--head-color);
}
/* ----------------------------------------------------------finish styling page blog-post-------------------------------------------------------- */
/* --------------------------------------------------styling of the page about us------------------------------------------------------------------- */
.items-content-infotmation{
    display: flex;
    align-items: center;
}
.two-item-content{
    flex-direction: row-reverse;
}
.two-content-information{
    margin-left: 128px;
}
.content-information{
    margin-right: 140px;
}
.title-information{
font-family: Sen;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 48px; 
letter-spacing: -2px;
margin-bottom: 16px;
    color: var(--head-color);
}
.subtitle-information{
    width: 520px;
font-family: Sen;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px;
margin-bottom: 16px;
    color: var(--head-color);
}
.item-text-information{
width: 520px;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
    color: var(--head-color);
}
/* styling cards */
.section-authors-card{
    padding: 128px 0px;
}
.list-cards-authors{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 32px;
    padding-bottom: 128px;
}
.authors-list-card{
    width: 296px;
    padding: 40px 43px;
    background-color: var(--card-authors);
}
.authors-list-card:hover{
    background-color: var(--color-background-card);
}